*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #243048;
}

@font-face {
    font-family: Orbit;
    src: url(/css/fonts/Orbitron/Orbitron-VariableFont_wght.ttf);
}

@font-face {
    font-family: PTSans;
    src: url(/css/fonts/PT_Sans_Narrow/PTSansNarrow-Regular.ttf);
}